@font-face {
    font-family: Gidole;
    src: url("GidoleFont/Gidole-Regular.ttf");
  }
html {
    --primary: black;
    --secondary: white;
}
html.light {
    --primary: white;
    --secondary: black;
}
  
body {
    font-family: 'Gidole';
    background-color : var(--primary);
    color: var(--secondary);
    
}
* {
    transition: background-color 1000ms linear;
}
.bottom_dec ul {
    margin: 0.8%;
    padding: 0;
    list-style: none;
    float: right;
}
.content {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
}
.content.cv {
    top: unset;
    transform: unset;
    position: relative;
    margin: 10em 10%;
}
.content h1 {
    margin-top: 0;
    font-size: 3em;
    margin-bottom: 0;

}
.content p {
    font-size: 1.5em;
    margin-top: 0;
    max-width: 600px;
    
}
.content .desc {
    font-size: 1.25em;
}
.content.cv .desc br {
    margin-bottom: 1em;
}
.button {
    padding: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    font-size: 1.25rem;
    margin-right: 0.75rem;
    transition: box-shadow 1s, background-color 1000ms linear !important;
    color: var(--secondary);
    text-decoration: none;
    display: inline-block;
}
.button i {
    margin-right: 0.5em;
}
.button:hover {
    box-shadow: 5px 8px var(--secondary);

}
.button:active {
    background-color: var(--secondary);
    color: var(--primary);
}
.big_title {
    border-bottom: 3px solid var(--secondary);
    width: max-content;
    font-size: 2em !important;
    margin-bottom: 1em;
}
.mini_title {
    border-bottom: 2px solid var(--secondary);
    width: max-content;
}
.desc {
    max-width: 60%;
}
.top_menu {
    right: 0;
    top: 0;
    position: absolute;
    margin: 2%;
    color: var(--secondary);
    font-size: 1.2rem;
}
.top_menu a {
    border-bottom: 2px solid var(--secondary);
    border-width: 0px;
    text-decoration: none;
    color: var(--secondary);
    transition: 0.1s linear border-width, background-color 1000ms linear !important;
}
.top_menu a:hover {
    border-width: 2px;
    transition: 0.1s linear border-width, background-color 1000ms linear !important;
}
.theme_toggle {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 2%;
    background-color: var(--secondary);
    color: var(--primary);
    padding: 1%;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease-in-out all;

}
.theme_toggle:hover {
    background-color: var(--primary);
    color: var(--secondary);
    transition: 0.5s ease-in-out all;
}
.listing {
    border-left: 3px solid var(--secondary);
    padding-left: 1em;
    max-width: 400px;
    line-height: 1.5;

}
.listing p {
    font-size: 1em;
}
p.title {
    font-size: 1.25em;
    margin-bottom: 0;
}
.contact_details {
    list-style: none;
    padding-left: 0;
}
.contact_details li {
    display: inline-block;
    padding-right: 1em;
    padding-bottom: 0.5em;
}
.contact_details li a {
    font-size: 1.25em;
    font-style: none;
    text-decoration: none;
    color: var(--secondary);
}
.contact_details li * i {
    padding-right: 0.25em;
}
.tech_list p {
    font-weight: bold;
}
.tech_list ul {
    list-style: none;
    font-size: 2em;
    padding-left: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.tech_list ul li {
    display: inline-block;
}
@media only screen and (max-width: 600px) {
    .button {
        width: 100%;
        text-align: center !important;
        position: relative;
        padding: 0.5em 0 !important;
        text-align: center;
        margin-bottom: 1em;
    }
    .theme_toggle {
        padding: 4%;
        margin: 4%;
    }
    .top_menu {
        margin: 4%;
    }
}