@import "../../styles/variables.scss";

.button {
    padding: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    margin-bottom: 0.5em;
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    font-size: 1.25em;
    margin-right: 0.75rem;
    transition: box-shadow 1s, background-color 1000ms linear !important;
    color: var(--secondary);
    text-decoration: none;
    display: inline-block;
    & i, & svg {
        margin-right: 0.5em;
    }
    &:hover, &:active, &:focus {
        box-shadow: 5px 8px var(--secondary);
    
    }
    &:active {
        background-color: var(--secondary);
        color: var(--primary);
    }
    @media all and (max-width: $max-width-mobile) {
        & {
            width: 100%;
            text-align: center;
            margin-bottom: 1em;
        }
    }
}
