.techList {
    border-left: 3px solid var(--secondary);
    padding-left: 1em;
    * {
        h3 {
            display: block;
        }
        ul {
            list-style: none;
            font-size: 2em;
            padding-left: 0.25em;
            margin: 0;
            li {
                display: inline;
                margin-right: 0.5em;
                margin-bottom: 0.25em;
                float: left;
            }
            &::after {
                content: '';
                display: block;
                clear: both;
            }
        }
    }
}