.title {
    border-bottom: 2px solid var(--secondary);
    width: max-content;
    display: inline-block;
    margin-bottom: 1em;

}
.bigTitle {
    font-size: 2em !important;
    margin-bottom: 1em !important;
}
